<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.se.nohair.fitness.dao.mapper.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.zju.se.nohair.fitness.dao.po.BusinessPo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="pic_id" jdbcType="INTEGER" property="picId"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="person_name" jdbcType="VARCHAR" property="personName"/>
    <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
    <result column="certification_pic_id" jdbcType="INTEGER" property="certificationPicId"/>
    <result column="balance" jdbcType="DECIMAL" property="balance"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, pic_id, phone, person_name, id_number, certification_pic_id, 
    balance, status, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from business
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from business
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.se.nohair.fitness.dao.po.BusinessPo">
    insert into business (id, username, password, 
      pic_id, phone, person_name, 
      id_number, certification_pic_id, balance, 
      status, created_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{picId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{certificationPicId,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zju.se.nohair.fitness.dao.po.BusinessPo">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="personName != null">
        person_name,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="certificationPicId != null">
        certification_pic_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificationPicId != null">
        #{certificationPicId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertReturnId" parameterType="com.zju.se.nohair.fitness.dao.po.BusinessPo"
    useGeneratedKeys="true" keyProperty="id">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="personName != null">
        person_name,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="certificationPicId != null">
        certification_pic_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificationPicId != null">
        #{certificationPicId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.zju.se.nohair.fitness.dao.po.BusinessPo">
    update business
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificationPicId != null">
        certification_pic_id = #{certificationPicId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.se.nohair.fitness.dao.po.BusinessPo">
    update business
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      pic_id = #{picId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      certification_pic_id = #{certificationPicId,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>