<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.se.nohair.fitness.dao.mapper.OwnsGymMapper">
  <resultMap id="BaseResultMap" type="com.zju.se.nohair.fitness.dao.po.OwnsGymPoKey">
    <id column="business_id" jdbcType="INTEGER" property="businessId"/>
    <id column="gym_id" jdbcType="INTEGER" property="gymId"/>
  </resultMap>
  <select id="selectByBusinessId" parameterType="java.lang.Integer"
    resultMap="BaseResultMap">
    select
     gym_id
    from owns_gym
    where business_id = #{businessId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zju.se.nohair.fitness.dao.po.OwnsGymPoKey">
    delete from owns_gym
    where business_id = #{businessId,jdbcType=INTEGER}
      and gym_id = #{gymId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.se.nohair.fitness.dao.po.OwnsGymPoKey">
    insert into owns_gym (business_id, gym_id)
    values (#{businessId,jdbcType=INTEGER}, #{gymId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zju.se.nohair.fitness.dao.po.OwnsGymPoKey">
    insert into owns_gym
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessId != null">
        business_id,
      </if>
      <if test="gymId != null">
        gym_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="gymId != null">
        #{gymId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>