<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.se.nohair.fitness.dao.mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="com.zju.se.nohair.fitness.dao.po.PicturePo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="pic_group_id" jdbcType="INTEGER" property="picGroupId"/>
    <result column="pic_link" jdbcType="VARCHAR" property="picLink"/>
    <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, pic_group_id, pic_link, file_path, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAvailablePicGroupId" resultType="Integer">
    select
    ifnull(max(pic_group_id),0)+1
    from picture
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.se.nohair.fitness.dao.po.PicturePo">
    insert into picture (id, pic_group_id, pic_link, 
      file_path, created_time)
    values (#{id,jdbcType=INTEGER}, #{picGroupId,jdbcType=INTEGER}, #{picLink,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertReturnId" parameterType="com.zju.se.nohair.fitness.dao.po.PicturePo" useGeneratedKeys="true" keyProperty="id">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picGroupId != null">
        pic_group_id,
      </if>
      <if test="picLink != null">
        pic_link,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picGroupId != null">
        #{picGroupId,jdbcType=INTEGER},
      </if>
      <if test="picLink != null">
        #{picLink,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.zju.se.nohair.fitness.dao.po.PicturePo">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="picGroupId != null">
        pic_group_id,
      </if>
      <if test="picLink != null">
        pic_link,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picGroupId != null">
        #{picGroupId,jdbcType=INTEGER},
      </if>
      <if test="picLink != null">
        #{picLink,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.zju.se.nohair.fitness.dao.po.PicturePo">
    update picture
    <set>
      <if test="picGroupId != null">
        pic_group_id = #{picGroupId,jdbcType=INTEGER},
      </if>
      <if test="picLink != null">
        pic_link = #{picLink,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.se.nohair.fitness.dao.po.PicturePo">
    update picture
    set pic_group_id = #{picGroupId,jdbcType=INTEGER},
      pic_link = #{picLink,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>