<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.se.nohair.fitness.dao.mapper.PrivateCourseMapper">
  <resultMap id="BaseResultMap" type="com.zju.se.nohair.fitness.dao.po.PrivateCoursePo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="coach_id" jdbcType="INTEGER" property="coachId"/>
    <result column="business_id" jdbcType="INTEGER" property="businessId"/>
    <result column="price" jdbcType="DECIMAL" property="price"/>
    <result column="gym_price" jdbcType="DECIMAL" property="gymPrice"/>
    <result column="time_slot_id" jdbcType="INTEGER" property="timeSlotId"/>
    <result column="pic_id" jdbcType="INTEGER" property="picId"/>
    <result column="course_date" jdbcType="DATE" property="courseDate"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, content, coach_id, business_id, price, gym_price, pic_id, course_date, 
    status, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from private_course
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectRequiredByCoachId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from private_course
    where status = 0 and coach_id = #{coachId,jdbcType=INTEGER}
  </select>

  <select id="selectByBusinessId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from private_course
    where status != 0 and business_id = #{businessId,jdbcType=INTEGER}
  </select>
  <select id="selectForResponsing" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from private_course
    where status = 0
  </select>

  <select id="selectByCoachId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from private_course
    where coach_id = #{coachId,jdbcType=INTEGER}
  </select>
  <!--查看教练结课私教课列表-->
  <select id="selectFinishedPrivateCoursesByCoachId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from private_course p left join takes_private t on p.id = t.course_id
    where ( status = 3 or status = 4 ) and coach_id = #{coachId,jdbcType=INTEGER}
  </select>

  <!--查看教练待上私教课列表-->
  <select id="selectRequiredPrivateCoursesByCoachId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from private_course p left join takes_private t on p.id = t.course_id
    where ( status = 1 or status = 2 ) and coach_id = #{coachId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from private_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.se.nohair.fitness.dao.po.PrivateCoursePo">
    insert into private_course (id, name, content, 
      coach_id, business_id, price, 
      gym_price, pic_id, course_date, 
      status, created_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{coachId,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{gymPrice,jdbcType=DECIMAL}, #{picId,jdbcType=INTEGER}, #{courseDate,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zju.se.nohair.fitness.dao.po.PrivateCoursePo">
    insert into private_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="coachId != null">
        coach_id,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="gymPrice != null">
        gym_price,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="courseDate != null">
        course_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="coachId != null">
        #{coachId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="gymPrice != null">
        #{gymPrice,jdbcType=DECIMAL},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="courseDate != null">
        #{courseDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.zju.se.nohair.fitness.dao.po.PrivateCoursePo">
    update private_course
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="coachId != null">
        coach_id = #{coachId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="gymPrice != null">
        gym_price = #{gymPrice,jdbcType=DECIMAL},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="courseDate != null">
        course_date = #{courseDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.se.nohair.fitness.dao.po.PrivateCoursePo">
    update private_course
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      coach_id = #{coachId,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      gym_price = #{gymPrice,jdbcType=DECIMAL},
      pic_id = #{picId,jdbcType=INTEGER},
      course_date = #{courseDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="finishByPrimaryKey" parameterType="java.lang.Integer">
    update private_course set status = 3
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>