<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.se.nohair.fitness.dao.mapper.VipCardMapper">
  <resultMap id="BaseResultMap" type="com.zju.se.nohair.fitness.dao.po.VipCardPo">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
    <result column="gym_id" jdbcType="INTEGER" property="gymId"/>
    <result column="price" jdbcType="DECIMAL" property="price"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, gym_id, price, type, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from vip_card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGymId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from vip_card
    where gym_id = #{gymId,jdbcType=INTEGER}
  </select>
  <select id="selectByCustomerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from vip_card
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vip_card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zju.se.nohair.fitness.dao.po.VipCardPo">
    insert into vip_card (id, customer_id, gym_id, 
      price, type, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{gymId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zju.se.nohair.fitness.dao.po.VipCardPo">
    insert into vip_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="gymId != null">
        gym_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="gymId != null">
        #{gymId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective"
    parameterType="com.zju.se.nohair.fitness.dao.po.VipCardPo">
    update vip_card
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="gymId != null">
        gym_id = #{gymId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.se.nohair.fitness.dao.po.VipCardPo">
    update vip_card
    set customer_id = #{customerId,jdbcType=INTEGER},
      gym_id = #{gymId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>